:root{
  --white: #ffffff;
  --light-white: #F3F7F9;
  --light-white2: #F1F5F7;
  --main-color: #293449; /* Dark */
  --main-color-l: #32425C;
  --main-color-d: #161D29;
  --main-active: #1D2739;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --red: #EE3643;
  --darkened-red: #CA2C37;
  --dark-red: #BA2732;
  --transparent: #F3F7F9;
  --green: #63A63E;
  --light-green: #8ED78F;
  --light-green2: #5FBB2D;
  --dark-green: #518534;
  --bright-green: #5FBB2D;
  --light-yellow: #FFD180;
  --mustard1: #FFBF47;
  --mustard2: #FFC047;
  --ocean: #3BBCE3;
  --light-purpple: #DC91D8;
  --light-brown: #F9F5F0;
  --grey: #C5C5C5;
  --grey-d: #A9A9A9;
  --grey2: #E5E5E5;
  --grey3: #EAEAEA;
  --grey4: #D7DCDE;
  --grey5: #ABABAB;
  --greyF4: #F4F4F4;
  --black: #000000;
  --catalog-borwn: #F7F3EC;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --banner-hover: rgba(197, 197, 197, 0.3);
  --banner-active: rgba(169, 169, 169, 0.3);
}

.page {
  height: 100%;
}

.page-body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-conten 1fr min-conten;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.position-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}



.header {
  background-color: var(--light-white2);
  font-family: "Cuprum", "Arial", sans-serif;
}

/*top-header*/

.top-header-container {
  background-color: var(--main-color);
  min-height: 42px;
  border-bottom: 5px solid var(--light-white2);
}

.top-header-container-position {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo-link {
  content: "";
  position: absolute;
  width: 220px;
  height: 45px;
  background-color: var(--red);
  border-bottom: 5px solid var(--darkened-red);
  text-transform: uppercase;
  color: var(--white);
  z-index: 10;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  left: -10px;
}

.logo-link:active {
  background-color: var(--dark-red);
}

.logo-search-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
}

.header-form {
  margin: 0 0 0 210px;
  padding: 0;
}

.label-search {
  position: relative;
}

.input-search {
  padding: 0 0 0 42px;
  margin: 0;
  width: 271px;
  height: 42px;
  background-color: var(--main-color);
  border: none;
  color: var(--white);
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
}

.input-search:hover {
  background-color: var(--white);
  color: var(--black);
}

.label-search svg {
  position: absolute;
  top: -1px;
  left: 18px;
  opacity: 0.3;
  z-index: 5;
 }

.label-search:hover svg {
  opacity: 1;
}

.label-search:hover svg path {
  fill: var(--red);
}

.manage-orders {
  justify-self: end;
}

.manage-orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 28px;
}

.manage-orders-button {
  position: relative;
  display: inline-block;
  background-color: var(--main-color);
  color: var(--white);
  text-decoration: none;
  padding-top: 8px;
  padding-right: 0;
  padding-bottom: 9px;
  padding-left: 10px;
  margin: 0;
  min-width: 136px;
  min-height: 42px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.manage-orders-button:active {
  background-color: var(--main-color-d);
  opacity: 0.5;
}

.manage-bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icon-bookmark.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 0;
  opacity: 0.3;
  left: -9px;
  top: 12px;
}

.manage-bookmarks {
  padding-right: 35px;
}

.shopping-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 0;
  opacity: 0.3;
  left: 12px;
  top: 12px;
}



.manage-bookmarks:hover::before,
.manage-bookmarks:focus::before,
.shopping-cart:hover::before,
.shopping-cart:focus::before {
  opacity: 1;
}

.manage-bookmarks:active::before,
.shopping-cart:active::before {
  opacity: 0.5;
}

.button-order {
  padding: 8px 16px 8px 19px;
  display: inline-block;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  min-width: 150px;
  min-height: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.button-order:hover, .button-order:focus {
  background-color: var(--bright-green);
}

.button-order:active {
  opacity: 0.5;
}

/*middle-header*/

.middle-header-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.main-title {
  color: var(--red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  width: 200px;
  margin-left: 19px;
  margin-top: 39px;
  display: inline-block;
}

.header-contacts {
  padding-top: 41px;
  margin-left: 15px;
}

.header-contacts-phone {
  position: relative;
  display: inline-block;
  border: 3px solid var(--white);
  width: 270px;
  height: 45px;
  color: var(--red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin-left: 19px;
  padding-top: 5px;
  padding-left: 26px;
}

.header-contacts-phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 35px;
  top: 10px;
}

.header-address {
  padding-top: 4px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Cuprum";
  color: var(--main-color-l);
}

.user-menu {
  display: flex;
  padding-top: 41px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin: 0;
  justify-content: space-between;
  width: 281px;
  height: 45px;
}

.user-menu-link {
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;
}

.user-menu-link:hover, .user-menu-link:focus {
  color: var(--red);
}

.user-menu-link:active {
  color: var(--grey);
}

.enter-login {
  padding-left: 19px;
  padding-top: 12px;
  min-width: 121px;
  height: 45px;
}

.enter-login:hover path {
  fill: var(--basic-grey);
}

.enter-login:active path {
  fill: var(--grey);
}


.registration {
  min-width: 150px;
  height: 45px;
  padding-left: 24px;
  padding-top: 12px;
}

/*header-nav*/

.main-nav {
  background-color: var(--main-color-l);
  border-bottom: 5px solid var(--main-color);
  width: 940px;
  margin: 35px auto 60px;
  padding: 0 10px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 15px;
  margin-right: 20px;
}

.main-nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.main-nav-link:hover, .main-nav-link:focus {
  background-color: var(--main-color);
}

.main-nav-link:active {
  background-color: var(--main-active);
}

/*main*/

.main-cards {
  height: auto;
  width: 940px;
  margin: 60px auto;
  /*padding: 0 10px;*/
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 0;
}

.cards-item {
  list-style: none;
}

.cards-item article {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  height: 123px;
}

.banner-nav {
  margin-right: 45px;
  padding-right: 0;
}

.cards-material {
  background-color: var(--mustard1);
}

.cards-tools {
  background-color: var(--ocean);
}

.cards-technic {
  background-color: var(--light-purpple);
}

.cards-discount {
  background-color: var(--light-green);
}

.cards-delivery {
  background-color: var(--mustard2);
}

.card-image {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 0;
  padding-left: 0;
}

.cards-title {
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 0;
  margin-top: 20px;
  padding-left: 22px;
}

.cards-link {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  margin-left: 22px;
  background-color: var(--transparent-white);
  width: 138px;
  text-align: center;
}

.cards-link:hover, .cards-link:focus {
  background-color: var(--banner-hover);
}

.cards-link:active {
  background-color: var(--banner-active);
}

.slider {
  position: relative;
  background-image: url(../img/sl/layer99-2x.jpg);
  background-color: var(--grey);
  list-style: none;
  width: 620px;
  height: 266px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.slider-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 23px;
  margin-left: 24px;
  margin-bottom: 0;
}

.slider-par {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  margin-top: 5px;
  margin-left: 24px;
}

.slider-button-left, .slider-button-right {
  border: none;
  background-color: transparent;
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.slider-button-left {
  left: 5px;
  top: 122px;
}

.slider-button-right {
  right: 20px;
  top: 122px;
}

.button-slider {
  margin-top: 90px;
  margin-left: 24px;
}

.toggle-slider {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
  bottom: 35px;
  left: 295px;
  cursor: pointer;
}

.toggle-slider-active {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red);
  border: 2px solid var(--white);
  bottom: 35px;
  right: 295px;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
}

.button:hover, .button:focus {
  background-color: var(--darkened-red);
}

.button:active {
  background-color: var(--dark-red);
}

.new-product {
  position: relative;
}

.new-product::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("../img/icons/catalog-new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 0;
  z-index: 10;
}

/*Карточки продуктов*/


.leaflet-popular-brands {
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
}

.leaflet-header {
  background-color: var(--light-brown);
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.leaflet-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--main-color-l);
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 29px;
  margin-left: 19px;
}

.leaflet-button {
  margin-top: 23px;
  margin-right: 22px;
}

.leaflet-popular-product {
  width: 940px;
  margin: 0 auto;
}

.popular-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  grid-column-gap: 20px;
  width: 940px;
  padding: 0;
  margin-bottom: 70px;
  margin-top: 30px;
 }

.popular-brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  margin-left: 30px;
  padding: 0;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 65px;
  margin-left: 0;
}

.popular-brands-item {
  display: inline-block;
  width: 220px;
  height: 145px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.brand-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid var(--grey3);
}

.brand-link:hover, .brand-link:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brand-link:active {
  opacity: 0.5;
  border: none;
}

/*Преимущества*/

.advantages {
  background-color: var(--light-white2);
}

.advantages-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 940px;
  margin: 0 auto;
  /*padding: 0 10px;*/
}

.advantages-services {
  margin-top: 42px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.advantages-services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
  display: block;
}

.advantages-services-slider {
  margin-top: 40px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 80px;
}

.advantages-slider-list {
  padding-left: 0;
  margin-bottom: 99px;
  position: relative;
  list-style: none;
}

.advantages-slider-list::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/icons/shadow-line.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  left: 230px;
  top: -45px;
}

.advantages-services-slider-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-color-l);
  font-weight: 400;
  display: block;
  margin-top: 16px;
}

.advantages-services-par {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  z-index: 2;
}

.advantages-services-slider-button {
  width: 240px;
  height: 61px;
  background-color: var(--main-color-l);
  border: none;
  color: var(--white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 22px;
}

.advantages-services-slider-button-active {
  background-color: var(--white);
  color: var(--main-color-l);
}

.advantages-services-slider-button:focus, .advantages-services-slider-button:hover {
  background-color: var(--main-color);
}

.advantages-services-slider-button-active:focus, .advantages-services-slider-button-active:hover {
  background-color: var(--white);
  color: var(--main-color-l);
}

.advantages-services-delivery {
  position: relative;
}

.advantages-services-delivery::before {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  background-image: url("../img//sl/layer131.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
  left: 151px;
}

.advantages-services-guarantee {
  position: relative;
}

.advantages-services-guarantee::before {
  content: "";
  position: absolute;
  width: 389px;
  height: 283px;
  background-image: url("../img//sl/layer130.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
  left: 240px;
}

.advantages-services-credit {
  position: relative;
}

.advantages-services-credit::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  background-image: url("../img//sl/layer119.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
  left: 160px;
  bottom: 0;
}

.button-credit {
  width: 195px;
  height: 38px;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding-top: 0;
  margin-top: 17px;
}

/*О компании*/

.about-us {
  width: 940px;
  margin: 50px auto 70px;
  /*padding: 0 10px;*/
  display: flex;
  justify-content: space-between;
}

.about-company {
  max-width: 460px;
}

.about-company-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company-par {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.second-par {
  margin-top: 22px;
  display: block;
  margin-bottom: 0;
}

.tk-list {
  list-style: none;
  margin-left: 0;
  margin-top: 5px;
  padding-left: 37px;
}

.tk-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  position: relative;
}

.tk-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--red);
  left: -37px;
  top: 11px;
}

.about-company-button{
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}

.about-company-button {
  width: 220px;
  height: 38px;
}

.contact-map {
  width: 300px;
}

.contact-map-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-map-par {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.contact-map-link {
  display: block;
  margin-top: 28px;

}


.contact-map-button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}

.contact-map-button {
  width: 300px;
  height: 38px;
  margin-top: 25px;
}

/*footer*/

.footer-up-wrapper {
  background-color: var(--main-color-l);
}

.footer-down-wrapper {
  background-color: var(--main-color);
}

.footer-top-part, .footer-middle-part {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.footer-middle-part {
  padding-bottom: 30px;
}

.footer-top-part {
  margin-bottom: 22px;
}

.footer-logo {
  position: relative;
}

.footer-logo::before {
  content: "";
  position: absolute;
  width: 138px;
  height: 23px;
  background-image: url("../img/icons/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 18px;
  left: 18%;
}

.footer-nav-list-up {
  list-style: none;
  margin-top: 37px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 122px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}


.footer-nav-link-up {
  font-size: 18px;
  line-height: 24px;
  color: var(--light-white2);
  text-decoration: none;
}

.footer-nav-item-up {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0;
  padding-right: 0;
}

.footer-nav-link-up:hover, .footer-nav-link-up:focus {
  text-decoration: underline;
}

.footer-nav-link-up:active {
  opacity: 0.5;
}

.footer-address {
  width: 340px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.phone-footer {
  margin-top: 0;
}


.footer-nav-list-down {
  width: 550px;
  list-style: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 75px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.footer-nav-item-down {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0;
  padding-right: 0;
}

.footer-nav-item-down:first-child {
  margin-left: 0;
}

.footer-nav-link-down {
  font-size: 18px;
  line-height: 24px;
  color: var(--light-yellow);
  text-decoration: none;
}

.footer-nav-link-down:hover, .footer-nav-link-down:focus {
  text-decoration: underline;
}

.footer-nav-link-down:active {
  opacity: 0.5;
}

.footer-down-part {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: 12px;
}

.copyright-par {
  font-family: inherit;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.social-net {
  margin-top: 24px;
  margin-left: 24px;
}

.net-link:hover .svg-net {
  fill: var(--red);
}

.com-with-developers {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 50px;
  margin-top: 10px;
  margin-right: 3px;
}

.com-with-developers-par {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
}

.com-with-developers-link {
  color: var(--light-yellow);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.com-with-developers-link:hover, .com-with-developers-link:focus {
  text-decoration: underline;
}

.com-with-developers-link:active {
  color: var(--red);
  text-decoration: none;
}

/*Каталог хедер*/

.manage-orders-button-active {
  background-color: var(--red);
}

.user-menu-authorized {
  position: relative;
  width: 300px;
  height: auto;
  padding-top: 41px;
  padding-right: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-menu-authorized::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--main-color-l);
  z-index: 8;
  top: 84%;
  right: 54%;
}

.user-menu-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--black);
  width: 300px;
  height: 42px;
  background-color: var(--white);
  text-align: center;
  padding-top: 12px;
  margin-left: 30px;
  padding-left: 10px;
}

.user-menu-user-name:active {
  color: var(--grey);
}

.user-menu-user-name:hover path {
  fill: var(--basic-grey);
}

.user-menu-user-name:active path {
  fill: var(--grey);
}

.user-menu-link-authorized {
  font-size: 16px;
  line-height: 18px;
  color: var(--main-color-l);
  text-decoration: none;
}

.user-menu-link-authorized:hover, .user-menu-link-authorized:focus {
  color: var(--red);
}

.user-menu-link-authorized:active {
  color: var(--grey);
}

/*Мэин*/

.breadcrumbs-list {
  position: relative;
  padding-left: 0;
  padding-top: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.breadcrumbs-item {
  padding-top: 5px;
  padding-left: 30px;
  position: relative;
}

.breadcrumbs-item:first-child {
  padding-left: 0;
}

.breadcrumbs-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
  right: -20px;
  top: 7px;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.breadcrumbs-item-link {
  display: block;
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
}

.catalog-page-title-wrapper {
  background-color: var(--light-white2);
  width: 940px;
  height: 89px;
}

.page-title {
  padding-top: 29px;
  padding-left: 29px;
  font-size: 30px;
  line-height: 30px;
  color: var(--main-color-l);
  text-transform: uppercase;
  font-weight: 400;
}

.main-catalog-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 20px;
}

.block-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.block-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.fieldset-filter-checkbox::before {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  background-color: var(--black);
  opacity: 0.1;
  top: -45px;
}

.filter-title {
  display: block;
  width: 220px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--catalog-borwn);
  padding-top: 10px;
  padding-left: 18px;
  margin-top: 20px;
}

.filter-subtitle {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  padding: 0;
  margin: 0;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
  margin-bottom: 42px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: var(--catalog-borwn);
  border-radius: 3px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--grey4);
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: var(--green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--grey5);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--grey5);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.price-controls {
  position: relative;
}

.price-controls::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1.5px;
  left: 47.5%;
  top: 53%;
  background-color: var(--black);
}

.price-controls input {
  width: 95px;
  padding: 10px;
  margin-left: 25px;
  text-align: center;
  color: var(--black);
  border: none;
  border-radius: 3px;
  background-color: var(--catalog-borwn);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: inherit;
}

.min-price input {
  margin-left: 0;
}

.filter-list-brands {
  list-style: none;
  margin: 0;
  padding: 0 0 0 30px;
}

.filter-list-brands li {
  position: relative;
  display: block;
  padding-top: 20px;
}

.filter-list-brands li:last-child {
  padding-bottom: 46px;
}

.filter-item {
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.filter-checkbox + label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-checkbox:hover + label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-checkbox:disabled + label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-checkbox:checked:hover + label::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-checkbox:checked:disabled + label::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on-hover-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-list-power {
  list-style: none;
  margin: 0;
  padding: 0 0 0 40px;
}

.filter-list-power li {
  position: relative;
  display: block;
  padding-top: 20px;
}

.filter-radio + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-radio:hover + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-radio:disabled + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-radio:checked + label::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}


.filter-radio:checked:hover + label::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-radio:checked:disabled + label::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-on-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 17px;
  left: -40px;
}

.filter-button {
  width: 220px;
  height: 38px;
  background-color: var(--white);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial",sans-serif;
  border: 1px solid var(--grey2);
  margin-top: 37px;
  cursor: pointer;
}

.products-nav {
  display: flex;
  width: 700px;
  height: 38px;
  background-color: var(--catalog-borwn);
  margin-top: 20px;
  justify-content: space-between;
}

.products-nav-title {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 19px;
}

.products-nav-list {
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.products-nav-item {
  padding-right: 46px;
}

.product-nav-button {
  margin-top: 10px;
  margin-right: 17px;
  list-style: none;
  width: 78px;
}

.product-nav-button li {
  display: inline-block;
}

.button-down {
  padding-left: 10px;
}

.svg-button-arrow:hover path {
  fill: var(--black);
}

.svg-button-arrow:active path {
  fill: var(--red);
}

.products-nav-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  border-bottom: dotted 1.5px var(--red);
}

.products-nav-link span {
  opacity: 0.3;
}

.products-nav-link:hover span, .products-nav-link:focus span {
  opacity: 1;
}

.products-nav-link:hover, .products-nav-link:focus {
  border-bottom: solid 1px var(--red);
}


.products-nav-link-active {
  border: none;
}

.products-nav-link-active span {
  opacity: 1;
  color: var(--red);
}

.page-nav-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 33px;
  margin-top: 0;
}

.page-nav-item {
  padding-left: 10px;
  margin-top: 10px;
}

.page-nav-item:first-child {
  padding-left: 0;
}

.page-nav-link {
  display: inline-block;
  padding-top: 10px;
  width: 38px;
  height: 38px;
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  border: solid 1px var(--grey2);
  border-radius: 3px;
}

.page-nav-link-next {
  width: 140px;
}

.page-nav-link:hover, .page-nav-link:focus {
  border-color: var(--grey);
}

.page-nav-link:active {
  border-color: var(--red);
}

.page-nav-link-active {
  background-color: var(--red);
  color: var(--white);
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  list-style: none;
  padding: 0;
  margin-top: 28px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 37px;
}

.about-products {
  background-color: var(--light-white2);
  height: 261px;
}

.about-products-title {
  padding-top: 66px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-products-par {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/*Карточка товара*/

.card-product {
  position: relative;
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--grey3);
}

.card-product-container {
  position: relative;
  width: 220px;
  height: 170px;
  z-index: 1;
}

.card-product-container p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 220px;
  height: 170px;
}


.card-product-link, .card-product-title {
  display: block;
  margin: 0;
  padding: 5px 0 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  text-align: center;
}

.card-product-old-price {
  display: block;
  margin: 6px 0 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--grey-d);
  text-decoration: line-through;
  text-align: center;
}

.card-product-new-price {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  margin: 23px 0 0;
  z-index: 1;
}

.card-product-new-price::before {
  content: "";
  position: absolute;
  width: 141px;
  height: 38px;
  background-image: url("../img/icons/red-button.svg");
  /*background-position: 0 0;*/
  background-repeat: no-repeat;
  bottom: -10px;
  right: 35px;
  z-index: -1;
}


.card-product-buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.card-product-hidden-container {
  position: absolute;
  content: "";
  top: 0;
  width: 220px;
  height: 170px;
  background-color: white;
  display: none;
}

.card-product:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.card-product:hover .card-product-hidden-container {
  display: block;
}

.card-product-buy {
  display: block;
  margin: 0 auto;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 9px;
  border-bottom: 3px solid var(--dark-green);
  border-radius: 2px;
  margin-top: 38px;
}

.card-product-buy:hover, .card-product-buy:focus {
  background-color: var(--light-green2);
}

.card-product-buy:active {
  background-color: var(--dark-green);
}

.card-product-bookmarks {
  display: block;
  margin: 0 auto;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-color-l);
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid var(--green);
  font-weight: 400;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 8px;
  margin-top: 10px;
  border-radius: 2px;
}

.card-product-bookmarks:hover, .card-product-bookmarks:focus {
  border-color: var(--main-color-l);
}

.card-product-bookmarks:active {
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Попапы*/

.popup-contact {
  display: none;
  font-size: 18px;
  line-height: 24px;
  position: fixed;
  width: 620px;
  background-color: var(--white);
  height: auto;
  left: 27%;
  top: 10%;
  z-index: 10;
  border-top: 7px solid var(--red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popup-contact form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  grid-column-gap: 20px;
}

.popup-contact label {
  display: block;
  width: 220px;
}

.popup-label-input {
  margin: 45px auto 0;
}

.popup-label-textarea {
  margin: 20px auto 37px;
}

.popup-contact input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 220px;
  height: 38px;
  margin-top: 11px;
  border: 2px solid var(--grey);
  border-radius: 2px;
  padding-left: 12px;
}

.popup-label-textarea textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 11px;
  padding-left: 12px;
  padding-top: 6px;
  border: 2px solid var(--grey);
  border-radius: 2px;
}

.popup-contact div {
  width: 100%;
  background-color: var(--greyF4);
  grid-column-start: 1;
  grid-column-end: 3;
}

.button-popup-close {
  border: none;
  background-color: transparent;
  position: absolute;
  content: "";
  right: 0;
  top: 10px;
  cursor: pointer;
}

.button-popup-close:hover path {
  fill: var(--darkened-red);
}

.button-popup {
  margin: 37px auto;
  border: none;
  width: 460px;
  padding-top: 0;
  display: block;
}

/*Попап карта*/

.popup-map {
  display: none;
  position: fixed;
  width: 943px;
  height: auto;
  left: 14%;
  top: 10%;
  z-index: 10;
  border-top: 7px solid var(--red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*попап каталог */

.popup-succes {
  display: none;
  position: fixed;
  width: 620px;
  border-top: 7px solid var(--red);
  left: 25%;
  top: 30%;
  background-color: var(--white);
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.popup-succes p {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  margin-top: 66px;
  margin-bottom: 67px;
  font-size: 24px;
  line-height: 30px;
}

.popup-succes p svg {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  top: -18px;
  left: -85px;
}

.popup-succes-link-wrapper {
  width: 100%;
  background-color: var(--greyF4);
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
}

.popup-succes-link-wrapper a {
  margin-top: 37px;
  margin-bottom: 37px;
}

.popup-succes-link {
  display: inline-block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--white);
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
}

.popup-succes-link:hover, .popup-succes-link:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popup-succes-link:active {
  opacity: 0.3;
}

